/* Tipso Bubble Styles */
.tipso_bubble, .tipso_bubble > .tipso_arrow{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.tipso_bubble {
    position: absolute;
	text-align: center;
	border-radius: 6px;
	z-index: 9999;
	padding: 5px 10px;
    font-size:12px;
    border:1px solid #3d8e7e;
    background-color:#fff;
    max-width:250px;
}

    .tipso_bubble > .tipso_arrow {
        position:absolute;
    }

/* Tipso Bubble Div */

.tipso_arrow:before, .tipso_arrow:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border: solid transparent;
}

/* position:top */
.tipso_bubble.top .tipso_arrow {
    left:50%;top:100%;margin-left:-8px;
}
.tipso_bubble.top .tipso_arrow:before, .tipso_bubble.top .tipso_arrow:after {
    bottom: -16px;
}

.tipso_bubble.top .tipso_arrow:before {
    border-width: 8px;
    border-top-color: #3d8e7e;
    margin-left: -1px;
}

.tipso_bubble.top .tipso_arrow:after {
    border-width: 7px;
    border-top-color: #fff;
    margin-left: 0;
    margin-bottom: 2px;
}

/* position:bottom */
.tipso_bubble.bottom .tipso_arrow {
    left:50%;bottom:100%;margin-left:-8px;
}
.tipso_bubble.bottom .tipso_arrow:before, .tipso_bubble.bottom .tipso_arrow:after {
    top: -16px;
}
.tipso_bubble.bottom .tipso_arrow:before {
    border-width: 8px;
    border-bottom-color: #3d8e7e;
    margin-left: -1px;
}
.tipso_bubble.bottom .tipso_arrow:after {
    border-width: 7px;
    border-bottom-color: #fff;
    margin-left: 0;
    margin-top: 2px;
}

/* position:left */
.tipso_bubble.left .tipso_arrow {
    top:50%;left:100%;margin-top:-8px;
}
.tipso_bubble.left .tipso_arrow:before, .tipso_bubble.left .tipso_arrow:after {
    right: -16px;
}
.tipso_bubble.left .tipso_arrow:before {
    border-width: 8px;
    border-left-color: #3d8e7e;
    margin-top: -1px;
}
.tipso_bubble.left .tipso_arrow:after {
    border-width: 7px;
    border-left-color: #fff;
    margin-top: 0;
    margin-right: 2px;
}

/* position:right */
.tipso_bubble.left .tipso_arrow {
    top:50%;right:100%;margin-top:-8px;
}
.tipso_bubble.right .tipso_arrow:before, .tipso_bubble.right .tipso_arrow:after {
    left: -16px;
}
.tipso_bubble.right .tipso_arrow:before {
    border-width: 8px;
    border-right-color: #3d8e7e;
    margin-top: -1px;
}
.tipso_bubble.right .tipso_arrow:after {
    border-width: 7px;
    border-right-color: #fff;
    margin-top: 0;
    margin-left: 2px;
}
