<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="APP_ID" value="10582087" />
    <add key="API_KEY" value="TSAbEnKk2622heuojvL7a1dR" />
    <add key="SECRET_KEY" value="Z6nG7nv0tyvUVFDq5AoLDtQg8aqC7WHW" />
    
    
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
