
.form-control {
    border:1px solid #aaa;
    box-shadow:0 0 0;
    -webkit-box-shadow: 0 0 0;
}

    .form-control:focus {
        border:1px solid #333;
        box-shadow:0 0 0;
        -webkit-box-shadow: 0 0 0;
    }



.input-group-btn .btn-default {
    border:1px solid #aaa;
}


.qqFace {
    position:absolute;z-index:2000;
}

/*角标*/
.badge {
    min-width: 10px;
    padding: 1px 3px;
    background: red;
    border-radius: 16px;
}

    .badge.pull-up {
        position: relative;
        top: -5px;
    }

.label {
    font-size:12px;
    font-weight:normal;
    background-color: #999;
}

.label-xm {
    color:#fff3cb;
}

.label-primary {
    background-color: #337ab7;
}

.label-danger {
    background-color: #d9534f;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-info {
    background-color: #5bc0de;
}
.label-success {
    background-color: #5cb85c;
}



.modal-dialog {
    margin-top: 75px;
}

.post-area {
    padding: 5px;
    border: 2px solid rgba(9, 113, 92, 0.40);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

    .post-area .form-control {
        border: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
    }

        .post-area .form-control:focus {
            border: 0;
            border-color: transparent;
        }

    .post-area .post-toolbars {
        border-top: 1px solid #ddd;
        overflow: auto;
        line-height: 35px;
        display: none;
    }

        .post-area .post-toolbars a {
            margin: 0 10px;
            color:#666;
        }


.post-list {
    margin-top: 20px;
    width: 100%;
}

    .post-list .post-left {
        width: 60px;
        vertical-align: top;
    }

        .post-list .post-left img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color:#f8f8f8;
        }

    .post-list .post-center .post-time {
        color: #999;
    }

    .post-list .post-center .post-user .post-top-flag {
        font-size: 12px;
        margin-left: 5px;
    }

    .post-list .post-center .post-user .btn-group button {
        border: 0;
        color: #aaa;
    }

        .post-list .post-center .post-user .btn-group button:hover {
            color: #3d8e7e;
        }



    .post-list .post-center .post-user .btn-group .dropdown-menu {
        min-width: 60px;
    }

        .post-list .post-center .post-user .btn-group .dropdown-menu li a {
            color: #777;
        }

            .post-list .post-center .post-user .btn-group .dropdown-menu li a:hover {
                color: #3d8e7e;
            }

    .post-list .post-center .post-user .post-access {
        font-size: 12px;
        margin-left: 10px;
        color: #999;
    }

    .post-list .post-center .post-con {
        line-height: 24px;
        padding: 10px 0;
    }

        .post-list .post-center .post-con .post-text {
            word-break: break-all;
        }

        .post-list .post-center .post-con .post-links {
            padding: 5px 0;
        }


/*********************带三角框（评论区域、附件区域）**********************/
.post-comment, .attach-area, .link-area {
    position: relative;
    background: #f8f8f8;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.link-area {
    padding: 15px;
}

    .post-comment:after, .attach-area:after, .link-area:after,
    .post-comment:before, .attach-area:before, .link-area:before {
        position: absolute;
        content: " ";
        width: 0;
        height: 0;
        border: solid transparent;
        top: -17px;
        left: 22px;
    }


    .post-comment:before, .attach-area:before, .link-area:before {
        border-width: 8px;
        border-bottom-color: #ddd;
    }

.post-comment:before {
    margin-left: -10px;
}

.link-area:before {
    margin-left: 32px;
}

.attach-area:before {
    margin-left: -10px;
}

.post-comment:after, .attach-area:after, .link-area:after {
    border-width: 7px;
    border-bottom-color: #f8f8f8;
    margin-top: 3px;
}

.post-comment:after {
    margin-left: -9px;
}

.link-area:after {
    margin-left: 33px;
}

.attach-area:after {
    margin-left: -9px;
}
/**************************************************/

.post-comment-add {
    padding: 5px;
}

.comment-add-bars {
    overflow: auto;
}


/**********************评论列表**********************/
.post-comment-list {
    padding: 5px;
}

.comment-list-item {
    padding: 10px 5px 5px 5px;
    border-top: 1px dashed #ddd;
    overflow: auto;
}

.post-comment-list .comment-show-hide {
    border-top: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

.post-comment-list .comment-left {
    float: left;
    width: 40px;
    vertical-align: top;
}

    .post-comment-list .comment-left img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color:#f8f8f8;
    }

.post-comment-list .comment-center {
    padding-right: 15px;
    vertical-align: top;
}

    .post-comment-list .comment-center .comment-user .comment-time {
        margin-left: 20px;
        font-size: 12px;
        color: #999;
    }

    .post-comment-list .comment-center .comment-con {
        line-height: 24px;
        padding: 5px 0;
    }

/**************************************************/

.post-list .post-center .post-toolbar .bars-group {
    float: right;
}

    .post-list .post-center .post-toolbar .bars-group a {
        line-height: 18px;
        height: 18px;
        min-width: 40px;
        text-align: center;
        display: inline-block;
        border-left: 1px solid #eee;
    }




        .post-list .post-center .post-toolbar .bars-group a:first-child {
            border-left: 0;
        }

        .post-list .post-center .post-toolbar .bars-group a .count {
            font-size: 12px;
        }

.post-list .post-center .post-toolbar .btn-like.active,
.post-list .post-center .post-toolbar .btn-favor.active {
    color: #b5622c;
}

.post-list .post-tag,.post-list .post-xm {
    padding: 10px 0 0 0;
    font-size:12px;
}



.post-list .post-xm a{
    color:#086a80;
}



.post-list .post-tag-area {
    width:100%;
}

    .post-list .post-tag-area td {
        vertical-align:middle;
    }

.post-list .post-tag span {
    cursor: pointer;
    margin-left:5px;
}
.post-list .post-tag span:first-child {
    margin-left:0;
}

/*标签编辑区域*/
.post-list .post-tag-edit {
    margin-top:10px;
}

.post-list .post-tag-edit .tokenfield {
            border-color:#fff;
            -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
            padding:6px;
            margin-left:-6px;
        }



    .post-list .post-tag-edit .form-group {
        margin-bottom:0;
    }



            .post-list .post-tag-edit .tokenfield .token {
                color:#fff;
                border-color:#1ab394;
                background-color:#1ab394;
                height:auto;
                margin: -1px 5px 0 0;
                cursor:pointer;
            }




                .post-list .post-tag-edit .tokenfield .token .close {
                    color:#fff;
                    opacity: .8;
                    filter: alpha(opacity=80);
                }

                .post-list .post-tag-edit .tokenfield .token:hover .close {
                    opacity: 1;
                    filter: 1;
                }

            .post-list .post-tag-edit .tokenfield.focus {
                border-color:#ddd;
            }



.nav .dropdown:hover .dropdown-menu {
    display: block;
}


/************************表情*******************/
.qqFace {
    background: #f8f8f8;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    .qqFace img {
        cursor: pointer;
    }

/*div模拟textarea*/
.div-textarea {
    width: auto;
    min-height: 80px;
    max-height: 200px;
    _height: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    outline: 0;
    border: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}

/*@人员选择框*/
.mention-area {
    position:relative;
    width:300px;
}
   

.mention-select {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 0 10px #ddd;
    overflow-y:hidden;
}

.mention-select .mention-header {
        text-align:center;border-bottom:1px solid #ddd;height:40px;line-height:40px;
        background-color:#fff;
    }



    .mention-select .mention-body {
        max-height: 300px;
        overflow-y: auto;
    }



    .mention-select table {
        width: 100%;
    }

        .mention-select table td {
            padding: 5px;
            color: #666;
            vertical-align: middle;
            border-bottom: 1px dashed #ddd;
            font-size:12px;
        }

    .mention-select tr {
        cursor: pointer;
    }



        .mention-select tr:hover {
            background-color: #f8f8f8;
        }



        .mention-select tr.active, .mention-select tr.active:hover {
            background-color: rgba(9, 113, 92, 0.10);
        }



    .mention-select .user-photo img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color:#f8f8f8;
    }



    .mention-select .user-name {
        min-width:100px;
        color:#3d8e7e;
    }

    .mention-select .btn-group .btn {
        background: #fff;
        border: 1px solid #3d8e7e;
        color: #333;
        box-shadow: 0 0 0;
        padding: 2px 15px;
    }

        .mention-select .btn-group .btn.active {
            background: #3d8e7e;
            color: #fff;
        }


#home-com-logo {
    text-align: center;
    padding-right: 20px;
}

    #home-com-logo img {
        width: 102px;
        height: 102px;
    }

#home-left-menus {
    margin-top: 15px;
    padding: 10px 15px 10px 0;
}



.dropdown-menu {
    min-width: 100px;
}

/*返回顶部*/
.backToTop {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 20px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .8;
    filter: Alpha(opacity=80);
    background-image: url('/images/backtotop.png');
}


/*附件预览区域*/
.attach-view {
    color: #666;
}

    .attach-view .file-list table tr:hover {
        background: #eee;
    }

    .attach-view .file-list table td {
        padding: 5px 15px;
        vertical-align: middle;
    }

    .attach-view .file-item .btn-attach-view,
    .attach-view .file-item .btn-attach-download {
        color: #999;
    }

        .attach-view .file-item .btn-attach-view:hover,
        .attach-view .file-item .btn-attach-download:hover {
            color: #666;
        }

    .attach-view .image-list {
        overflow-x: hidden;
        overflow-y: auto;
    }

        .attach-view .image-list .file-item {
            position: relative;
            float: left;
        }





            .attach-view .image-list .file-item .btn-attach-del {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 10;
                background: #fff;
                border: 1px solid #ddd;
            }

            .attach-view .image-list .file-item .img-viewer {
                margin: 10px 10px 0 0;
                display: inline-block;
                border: 1px solid #ddd;
                box-sizing: content-box;
            }

                .attach-view .image-list .file-item .img-viewer img {
                    border: 0;
                    height: 100px;
                    vertical-align: top;
                }



/*动态链接区域*/
.link-area .link-list {
    background-color: #fff;
    border: 1px solid #eee;
    border-top-width: 3px;
}

    .link-area .link-list .link-item {
        padding: 5px 15px;
    }

.link-area .link-add {
    margin-top: 15px;
}



.panel {
    border-radius: 0;
    
}

.panel-default {
    border: 1px solid #ddd;
    border-top: 3px solid #ddd;
    margin-bottom: 15px;
}

    .panel-default>.panel-heading, .panel-default>.panel-footer {
        background-color: #fff;
        color: #333;
    }



/*用户名片*/
.user-info {
    width: 100%;
}

    .user-info td {
        text-align: left;
        vertical-align: top;
    }

    .user-info .photo {
        padding: 5px;
    }

        .user-info .photo img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color:#f8f8f8;
        }

    .user-info .detail {
        padding: 5px;
    }

        .user-info .detail .name {
            font-weight: bold;
        }

        .user-info .detail .phone i {
            color: #3d8e7e;
        }

/*----------------------------------------------------------------------------------- */
/*  Timeline */
/*----------------------------------------------------------------------------------- */
ul.timeline {
    list-style: none;
    position: relative;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

    ul.timeline:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -2px;
        background-color: #d2d2d2;
        height: 100%;
        width: 4px;
        border-radius: 2px;
        display: block;
    }

    ul.timeline li {
        padding-left: 50%;
        position: relative;
        z-index: 10;
    }

        ul.timeline li .timeline-time {
            position: absolute;
            right: 50%;
            top: 31px;
            text-align: right;
            margin-right: 40px;
            font-size: 16px;
            line-height: 1.3;
        }

            ul.timeline li .timeline-time strong {
                display: block;
                text-transform: uppercase;
                color: #999999;
                font-size: 14px;
                font-weight: 400;
            }

        ul.timeline li .timeline-icon {
            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            text-align: center;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            padding: 3px;
        }

            ul.timeline li .timeline-icon > div {
                border-radius: 50%;
                line-height: 34px;
                font-size: 16px;
                color: white;
            }

        ul.timeline li .timeline-content {
            background-color: white;
            padding: 0 15px;
            margin-left: 40px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            position: relative;
            word-break: break-all;
            word-wrap: break-word;
        }

            ul.timeline li .timeline-content:after, ul.timeline li .timeline-content:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
            }

            ul.timeline li .timeline-content:after {
                top: 38px;
                left: -20px;
                border: 10px solid transparent;
                border-right: 10px solid white;
            }

            ul.timeline li .timeline-content:before {
                top: 36px;
                left: -24px;
                border: 12px solid transparent;
                border-right: 12px solid #ddd;
            }

            ul.timeline li .timeline-content h2 {
                font-size: 22px;
                margin-bottom: 12px;
                line-height: 1.2;
            }

            ul.timeline li .timeline-content.image, ul.timeline li .timeline-content.video {
                padding: 15px 10px 0px;
            }

                ul.timeline li .timeline-content.image h2, ul.timeline li .timeline-content.video h2 {
                    padding: 0 5px 15px;
                    margin-bottom: 0;
                }

                ul.timeline li .timeline-content.image img, ul.timeline li .timeline-content.video img {
                    width: 100%;
                }

                ul.timeline li .timeline-content.image p, ul.timeline li .timeline-content.video p {
                    padding: 15px 5px;
                }

        ul.timeline li:nth-child(odd) {
            padding-left: 0;
            padding-right: 50%;
        }

            ul.timeline li:nth-child(odd) .timeline-time {
                right: auto;
                left: 50%;
                text-align: left;
                margin-right: 0;
                margin-left: 40px;
            }

            ul.timeline li:nth-child(odd) .timeline-content {
                margin-right: 40px;
                margin-left: 0;
            }

                ul.timeline li:nth-child(odd) .timeline-content:after {
                    left: auto;
                    right: -20px;
                    border: 10px solid transparent;
                    border-left: 10px solid white;
                }

                ul.timeline li:nth-child(odd) .timeline-content:before {
                    left: auto;
                    right: -24px;
                    border: 12px solid transparent;
                    border-left: 12px solid #ddd;
                }

    ul.timeline.animated li .timeline-content {
        opacity: 0;
        left: 20px;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        transition: all 0.8s;
    }

    ul.timeline.animated li:nth-child(odd) .timeline-content {
        left: -20px;
    }

    ul.timeline.animated li.active .timeline-content {
        opacity: 1;
        left: 0;
    }

    ul.timeline.animated li.active:nth-child(odd) .timeline-content {
        left: 0;
    }

@media (max-width: 600px) {
    ul.timeline {
        padding: 15px 10px;
    }

        ul.timeline:after {
            left: 28px;
        }

        ul.timeline li {
            padding-left: 0;
            margin-bottom: 16px;
        }

            ul.timeline li .timeline-time {
                position: relative;
                right: auto;
                top: 0;
                text-align: left;
                margin: 0 0 6px 56px;
            }

                ul.timeline li .timeline-time strong {
                    display: inline-block;
                    margin-right: 10px;
                }

            ul.timeline li .timeline-icon {
                top: 52px;
                left: -2px;
                margin-left: 0;
            }

            ul.timeline li .timeline-content {
                margin-left: 56px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                position: relative;
            }

            ul.timeline li:nth-child(odd) {
                padding-right: 0;
            }

                ul.timeline li:nth-child(odd) .timeline-time {
                    position: relative;
                    right: auto;
                    left: auto;
                    top: 0;
                    text-align: left;
                    margin: 0 0 6px 56px;
                }

                ul.timeline li:nth-child(odd) .timeline-content {
                    margin-right: 0;
                    margin-left: 55px;
                }

                    ul.timeline li:nth-child(odd) .timeline-content:after {
                        right: auto;
                        left: -20px;
                        border: 10px solid transparent;
                        border-right: 10px solid white;
                    }

                    ul.timeline li:nth-child(odd) .timeline-content:before {
                        right: auto;
                        left: -24px;
                        border: 12px solid transparent;
                        border-right: 12px solid #dddddd;
                    }

        ul.timeline.animated li:nth-child(odd) .timeline-content {
            left: 20px;
        }

        ul.timeline.animated li.active:nth-child(odd) .timeline-content {
            left: 0;
        }
}
/*----------------------------------------------------------------------------------- */

::-webkit-scrollbar-track {
    background-color: #ccc;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ccc;
}


::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #aaa;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }



.metisMenu {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}



    .metisMenu li {
        background-color: #2f4050;
        padding: 15px 10px 0 10px;
        cursor: pointer;
    }


    .metisMenu > li {
        padding: 10px;
        /*border-bottom: 1px solid #263340;*/
    }

        .metisMenu > li:first-child {
            /*border-top: 1px solid #263340;*/
        }

    .metisMenu li a {
        color: #a7b1c2;
        display: block;
    }



    /*.metisMenu li a>i {
            font-size:16px;
        }*/

    .metisMenu li.active,.metisMenu li.active li {
        background-color: #263340;
    }

    .metisMenu li.active > a {
        color: #fff;
        font-weight: bold;
    }



    .metisMenu li:hover > a {
        color: #fff;
    }

    .metisMenu > li ul {
        list-style: none;
        padding: 5px;
        display: none;
    }

    .metisMenu > li > a .arrow {
        margin-top: 3px;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -moz-transform: rotate(0deg); /* Firefox */
        -webkit-transform: rotate(0deg); /* Safari 和 Chrome */
        -o-transform: rotate(0deg); /* Opera */
    }

    .metisMenu > li.active > a .arrow {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg); /* IE 9 */
        -moz-transform: rotate(90deg); /* Firefox */
        -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
        -o-transform: rotate(90deg); /* Opera */
    }



    .metisMenu > li:hover, .metisMenu > li:hover li {
        background-color: #263340;
    }

        .metisMenu > li:hover li a:hover {
            color: #fff;
        }

    .metisMenu > li > ul {
        padding-left: 15px;
    }

    .metisMenu > li > a .nav-label {
        margin-left: 10px;
    }

    .metisMenu > li > a .arrow {
        float: right;
    }


.link-list .link-item {
    border-top: 1px dashed #eee;
}

    .link-list .link-item:first-child {
        border-top: 0;
    }


.user-disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    color: #999;
}

.tr-no {
            font-size: 12px;
            color: #666;
        }

.text-no-info {
    color:#999;
    text-align:center;
    padding:15px;
}