body {
    background: #fff;
}

#app-visit {
    display: none;
}

.template-use-btn {
    position: fixed;
    top: 7px;
    left: 50%;
    margin-left: -60px;
    width: 200px;
    font-size: 16px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

#fs-frame-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#fs-frame-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 400px;
    bottom: 0;
    overflow: hidden;
    border-right: solid 1px #e2e2e2;
}

#fs-frame-content {
    position: absolute;
    top: 0;
    /*left: 230px;*/
    width: 400px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.4);
}

#fs-frame-path, #fs-menu-path {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: solid 1px #e2e2e2;
}

#fs-menu-footer {
    position: absolute;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: solid 1px #e2e2e2;
}

#fs-frame-entry-content {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
}

.content-empty {
    display: none;
    margin: 20% auto;
    text-align: center;
}

    .content-empty .empty-img {
        margin: 20px auto;
        background-image: url(images/app_view_empty.png);
        width: 206px;
        height: 172px;
    }

    .content-empty .empty-title {
        margin-bottom: 10px;
        line-height: 30px;
        font-size: 24px;
        color: #757575;
    }

    .content-empty span {
        line-height: 20px;
        color: #989898;
    }

.fs-frame-scroll {
    width: 100%;
    top: 152px;
    bottom: 50px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.fs-frame-split {
    position: relative;
    height: 0;
    width: 95%;
    left: 5%;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    margin: 10px 0;
}

.fs-menu-item {
    position: relative;
    display: block;
    cursor: pointer;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 12px;
}

.fs-menu-home {
    margin-top: 10px;
}

.fs-content-card {
    cursor: pointer;
    position: relative;
    float: left;
    left: 0;
    width: 150px;
    height: 135px;
    background-color: #fff;
    padding: 0;
    margin: 15px 20px;
    box-shadow: 0 0 5px rgba(30,30,30,.3);
    overflow: hidden;
}

    .fs-content-card img {
        width: 150px;
        height: 105px;
    }

    .fs-content-card div {
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 30px;
        line-height: 30px;
        padding-left: 5px;
        font-size: 14px;
        background-color: #e1ecf5;
    }

.fs-group-title {
    margin-top: 15px;
    padding-left: 27px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fs-group-title-d {
    padding-left: 5px;
    border-left: 6px solid #00b0f4;
}

.fs-group-content {
    padding: 20px 20px 5px 20px;
    position: relative;
    overflow: hidden;
}

#breadcrumb > li {
    color: #555;
    display: inline-block;
    margin-left: 5px;
}

    #breadcrumb > li > a {
        color: #4c8fbd;
    }

    #breadcrumb > li > i {
        font-size: 16px;
    }

i.icon-tree-group:before {
    content: '\e693';
}

i.icon-tree-form:before, i.icon-tree-leaf {
    content: '\e695';
}

i.icon-tree-report:before {
    content: '\e696';
}

.fs-admin-combo, .fs-message-combo {
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 0;
    -webkit-box-shadow: 0 2px 2px 0 #e2e2e2;
    box-shadow: 0 2px 2px 0 #e2e2e2;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

    .fs-admin-combo a, .fs-message-combo a {
        display: block;
        position: relative;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 5px;
        color: #333;
        cursor: pointer;
        font-size: 12px;
    }

        .fs-admin-combo a:hover, .fs-favorite-combo a:hover, .fs-message-combo a:hover {
            color: #fff;
        }

.fs-message-combo {
    width: 130px;
    height: auto;
}

.fs-message-combo-title {
    color: #333;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.fs-admin-combo img {
    position: relative;
    width: 110px;
    height: 110px;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.fs-resize-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fs-resize-line {
    border-left: dashed 2px #6fd3ff;
    position: absolute;
    overflow: hidden;
}

.fs_design_container {
    overflow: auto;
    color: #333;
    background: #F9FAFC;
}

.fs-menutree > ul > li {
    border-bottom: solid 1px #e2e2e2;
}

.fs-menutree li.group-open i.icon-tree-group:before {
    content: '\e694';
}

.menutree-node {
    display: block;
}

    .menutree-node.select {
        background-color: #3c7cb4;
        color: #FAFAFA;
    }

        .menutree-node.select i {
            color: #FAFAFA;
        }

            .menutree-node.select i.icon-tree-report {
                color: #FAFAFA;
            }

        .menutree-node.select:hover {
            background-color: #3c7cb4;
            color: #FAFAFA;
        }

    .menutree-node i {
        font-size: 1.3em;
        color: #178cdf;
    }

        .menutree-node i.icon-tree-report {
            color: #5cb85c;
        }

    .menutree-node:hover {
        background-color: #f0f1f2;
        color: #333;
    }

.fs-menutree .menutree-text {
    padding-left: 8px;
}

.fui-seb {
    background-color: #fff;
}

.fui-fbc {
    color: #333;
}

.fui-fhc {
    color: #333;
}

.fui-bsb {
    background-color: #00b0f4;
}

.fui-bsc {
    color: #00b0f4;
}

.fui-bsd {
    border-color: #00b0f4;
}

ul.fui-tip-list {
    margin-left: 1em;
}

    ul.fui-tip-list > li {
        list-style-type: disc;
    }

.success-pane {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    margin: -100px 0 0 -70px;
    text-align: center;
    font-size: 14px;
}

    .success-pane .img-icon {
        width: 70px;
        height: 70px;
        display: inline-block;
        background-image: url(https://assets.jiandaoyun.com/resources/images/icon_success.png?v=1.14.6);
    }

    .success-pane .msg-title {
        font-size: 28px;
        line-height: 72px;
        color: #5cb85c;
    }

    .success-pane .button-pane {
        margin: auto;
        text-align: center;
        width: 120px;
    }

        .success-pane .button-pane .button-style {
            margin-top: 20px;
        }

.qrcode-dropdown {
    text-align: center;
    font-size: 12px;
    color: #777;
}

.qrcode {
    position: fixed;
    right: 20px;
    top: 110px;
    width: 50px;
    height: 50px;
    color: #178cdf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,.15);
    text-align: center;
    line-height: 50px;
    font-size: 32px;
    z-index: 99;
}

    .qrcode:hover {
        cursor: pointer;
        background: rgba(0,0,0,.1);
    }
